body, html {
    background-color: darkgray;
    margin: 0;
    font-family: "Ubuntu Mono";
}

h1 {
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 96%;
}

td, th {
    border-left:solid #CCC 1px;
    border-top:solid #CCC 1px;
}

td:first-child, th:first-child {
     border-left: none;
}

table {
    border-collapse:separate;
    border:solid #CCC 1px;
    border-radius:1em;
    -moz-border-radius:1em;
    margin: 0 auto;
    width: 96%;
}

th {
    border-top: none;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form li + li {
    margin-top: 1em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}
#content {
    width: 70%;
}

.question_details{
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    width: 70%;
    padding: 5px 10px;
}

.question_answer{
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    width: 70%;
    padding: 5px 10px;
}

.reply_button{
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    width: 70%;
    padding: 5px 10px;
}

.form {
    text-align: center;
}

input[type="text"], textarea {

  background-color : #d1d1d1;

}
