body, html {
    background-color: rgb(86,87,87);
    font-family: sans-serif;
}

nav {
    position: fixed;
    right: 1%;
    bottom: 1%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: rgb(227,230,230);
}

a:link {
    text-decoration: none;
    color: rgb(227,230,230);
}

a:visited {
    text-decoration: none;
    color: rgb(227,230,230);
}

a:hover {
    text-decoration: none;
    color: rgb(24,64,59);
}

a:active {
    text-decoration: none;
    color: rgb(227,230,230);
}


.content {
    margin: 0 auto;
    width: 96%;
}

form li + li {
    margin-top: 1em;
}

/* CLASSES */

.nav-button {
    display: block;
    width: 20px;
    text-align: center;
    background-color: rgb(86,87,87);
    font-size: x-large;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px lightgray;
}

.nav-button:hover {
    background-color: rgb(106,108,108);
}

.question-main {
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgb(189,191,191); /*, -3px -3px 3px lightgray; */
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px;
    font-size: x-small;
    color: rgb(227,230,230);
}

.vote-number {
    color: lightgray;
}

.question-title {
    font-size: x-large;
    color: rgb(227,230,230);
}

.question_details{
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgb(189,191,191); /*, -3px -3px 3px lightgray; */
    margin-top: 3px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px;
    color: rgb(227,230,230);
}

.question_answer {
    border-radius: 8px;
    box-shadow: 3px 3px 3px black, -3px -3px 3px lightgray;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px;
    color: rgb(227, 230, 230);
}

.button {
    background-color: rgb(86,87,87);
    font-size: x-large;
    padding: 5px 10px;
    marginp: 3px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgb(189,191,191);
    color: rgb(227,230,230);
}

.reply-button {
    margin-right: 5%;
    float: right;

    background-color: rgb(86,87,87);
    font-size: x-large;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgb(189,191,191);
    color: rgb(227,230,230);
}

.action-button {
    border: solid 1px rgb(129,129,133);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: lightgray;
    font-size: x-small;
}

.button:hover {
    background-color: gray;
}

.info-text {
    color: lightgray;
    font-size: x-small;
}

.text_container{
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 8px;
    width: 300px;
}

.question_image {
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    width: 130px;
    padding: 5px 10px;
}

.question_answer{
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    width: 70%;
    padding: 5px 10px;
}

.question_link {
    text-decoration: none;
}

.form {
    text-align: center;
}

input[type="text"], textarea {

  background-color : #d1d1d1;

}

.comments{
    text-align: right;
    color: black;
    margin-top: 10px;
    padding-right: 7px;
    margin-right: 5%;
}

.info-page {
    margin-left: 5%;
    margin-right: 5%;
    color: lightgray;
}

.info-page a {
    color: black;
}

.main-form {
    color: lightgray;
    text-align: center;


}

form {
    display: inline-block;
}
