{% extends 'base.html' %}

{% block head %}
    <title>Add Question</title>
{% endblock head %}

{% block body %}

<h1>Add Question Page</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <p>Tiltle</p>
        <input type="text" name="title" id="title" required="required">
        <p>Question</p>
        <textarea name="message" rows="6" cols="50" required="required"></textarea><br>
        <input type=file name="file">
        <input type="submit" value="Post">
    </form>
{% endblock body%}
