{% extends 'base.html' %}

{% block head %}
<title>Edit Question {{ question_id }}</title>
{% endblock head %}


{% block body %}

    <a href="{{ url_for('route_list') }}" class="question_link"><h1>ASK MATE</h1></a>


    <form action="/question/{{ question_id }}/edit" method="POST">
        <label>Question {{ question_id }}</label><br>
        <input type="text" name="title" value="{{ title }}" class="text_container"><br>
        <label>Details</label><br>
        <textarea name="message" rows="6" cols="50" class="text_container">{{ message }}</textarea>
        <input type="submit" value="Edit Question" class="button">
    </form>


{% endblock body %}
