{% extends 'base.html' %}

{% block head %}{% endblock head %}




{% block body %}
<div class="info-page">
    <h1>Information</h1>

    <p>
        Welcome to the Ask Mate questions and answers board.
    </p>
    <p>
        This is an educational product for
        <a href="https://codecool.com/en/">Codecool</a>  students and the
        information on this page is fictional. Any resemblance to user data
        or PII is unintended. All the content on this website is for
        educational and testing purposes only.
    </p>
    <p>
        The goal of the exercise is to simulate a Stack Overflow or Quora
        board with questions, answers, comments and other additional features one
        might find on these websites.
    </p>

    <h2>Night mode</h2>

    <p>
        One of the main considerations when the UI choices were made, was the
        dark colors and white text. This "night mode" version is considered by many
        to be easier on the eyes. As at this point no JavaScript is used, a toggle
        is not in place and only "night mode" is available.
    </p>
    <p>
        Also, "day mode", which resembles the "pen on paper/typewriter" medium,
        was most likely introduced to make users feel more familiar with the
        new environment (when computers were first adopted by companies/people).
    </p>
    <p>
        Usually, heavy computer users prefer a dark background with light color
        text because the strain on the eyes is reduced during long sessions.
    </p>
    <p>
        Of course this information is fictional and not backed up by any scientific
        research but we can't wait for Spreadsheets and Docs to get "night-mode".
    </p>

    <h2>Mobile first</h2>

    <p>
        This is a principle in web design where websites are designed with
        mobile devices in mind first and then desktops as mobile use around
        the world has gone up significantly.
    </p>
    <p>
        Here is an article from Google about mobile-first indexing:
        <a href="https://developers.google.com/search/mobile-sites/mobile-first-indexing"> Google Developers</a>
    </p>
    <p>
        Try it on your phone or if you're on a desktop:<br>
        <strong>FireFox</strong>: Menu &gt; Web Developer &gt; Responsive Design Mode<br>
        <strong>Chrome</strong>: Menu &gt; More tools &gt; Developer tools &gt; top right corner of the tools has a
        "Toggle device toolbar" button that looks like a phone (or press Ctrl + Shift + M).
    </p>
    <h2>
        Thanks
    </h2>
    <p>
        Thanks for taking a look. More features will be added as the project progresses.
    </p>


</div>
{% endblock body %}
