{% extends 'base.html' %}

{% block head %}
    <title> Ask Mate - List </title>
{% endblock head %}

{% block body %}

<h1>QUESTIONS</h1>



<div>
    {% for question in questions %}

        <div class="question_main">
            <!-- <a href="{{ url_for('display_question', question_id=question['id']) }}"><button class="link_button"><strong>&gt;</strong></button></a><a href="{{ url_for('display_question', question_id=question['id']) }}" class="question_link"><strong>{{ question['title'] }}</strong></a><br> -->
            <font size="1" color="#d3d3d3"><span>Votes: {{ question['vote_number'] }}</span>  <span>Views: {{ question['view_number'] }}</span>  <span>Submitted at: {{ question['submission_time'] }}</span>  <span>ID: {{ question['id'] }}</span></font>
        </div>
        <div class="question_details">
            {{ question['message'] }}
        </div>
        {% if question['image'] != '' %}
        <div class="question_details">
            <!-- <a href="{{ question['image'] }}" target="_blank"><img src="{{ question['image'] }}" alt="Question related image" class="question_image"></a> -->
        </div>
        {% endif %}
        <br>
    {% endfor %}



</div>

{% endblock body%}
