{% extends 'base.html' %}

{% block head %}
    <title> Ask Mate - Home </title>
{% endblock head %}

{% block body %}

<h1>ASK MATE</h1>


<!--
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Posted<br>
                    <a href="{{ url_for('route_list', order_by='submission time', order_direction='desc') }}">v</a>
                    <a href="{{ url_for('route_list', order_by='submission time', order_direction='asc') }}">^</a>
                </th>
                <th>Views<br>
                    <a href="{{ url_for('route_list', order_by='view number', order_direction='desc') }}">v</a>
                    <a href="{{ url_for('route_list', order_by='view number', order_direction='asc') }}">^</a></th>
                <th>Votes<br>
                    <a href="{{ url_for('route_list', order_by='vote number', order_direction='desc') }}">v</a>
                    <a href="{{ url_for('route_list', order_by='vote number', order_direction='asc') }}">^</a></th>
                <th>Question<br>
                    <a href="{{ url_for('route_list', order_by='title', order_direction='desc') }}">v</a>
                    <a href="{{ url_for('route_list', order_by='title', order_direction='asc') }}">^</a></th>
                <th>Details<br>
                    <a href="{{ url_for('route_list', order_by='message', order_direction='desc') }}">v</a>
                    <a href="{{ url_for('route_list', order_by='message', order_direction='asc') }}">^</a></th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for i in question %}
                        {% if i == 'title' %}
                            <td><a href="{{ url_for('display_question', question_id=question['id']) }}">{{ question[i] }}</a></td>
                        {% else %}
                            <td>{{ question[i] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
</table>

    <p>{{ data_list }}</p>
-->


<div class="sort_bar">
Posted
    <a href="{{ url_for('route_list', order_by='submission time', order_direction='desc') }}"><button class="sort_button">v</button></a>
    <a href="{{ url_for('route_list', order_by='submission time', order_direction='asc') }}"><button class="sort_button"><font size="3">^</font></button></a>
Views
    <a href="{{ url_for('route_list', order_by='view number', order_direction='desc') }}"><button class="sort_button">v</button></a>
    <a href="{{ url_for('route_list', order_by='view number', order_direction='asc') }}"><button class="sort_button"><font size="3">^</font></button></a>
Votes
    <a href="{{ url_for('route_list', order_by='vote number', order_direction='desc') }}"><button class="sort_button">v</button></a>
    <a href="{{ url_for('route_list', order_by='vote number', order_direction='asc') }}"><button class="sort_button"><font size="3">^</font></button></a>
Question
    <a href="{{ url_for('route_list', order_by='title', order_direction='desc') }}"><button class="sort_button">v</button></a>
    <a href="{{ url_for('route_list', order_by='title', order_direction='asc') }}"><button class="sort_button"><font size="3">^</font></button></a>
Details
    <a href="{{ url_for('route_list', order_by='message', order_direction='desc') }}"><button class="sort_button">v</button></a>
    <a href="{{ url_for('route_list', order_by='message', order_direction='asc') }}"><button class="sort_button"><font size="3">^</font></button></a></th>

</div>



<div>
    {% for question in questions %}

        <div class="question_main">
            <a href="{{ url_for('display_question', question_id=question['id']) }}"><button class="link_button"><strong>&gt;</strong></button></a><strong>{{ question['title'] }}</strong><br>
            <font size="1" color="#d3d3d3"><span>Votes: {{ question['vote_number'] }}</span>  <span>Views: {{ question['view_number'] }}</span>  <span>Submitted at: {{ question['submission_time'] }}</span>  <span>ID: {{ question['id'] }}</span></font>
        </div>
        <div class="question_details">
            {{ question['message'] }}
        </div>
        {% if question['image'] != '' %}
        <div class="question_image">
            {{ question['image'] }}
        </div>
        {% endif %}
        <br>
    {% endfor %}



</div>

{% endblock body%}
