{% extends 'base.html' %}


{% block head %}

<title>New Answer</title>

{% endblock %}



{% block body %}

    <a href="{{ url_for('route_list') }}" class="question_link"><h1>ASK MATE</h1></a>


    <form action="/question/{{ question_id }}" method="POST" enctype="multipart/form-data">
        <label>Question {{ question_id }}</label><br>
        <input type="text" name="question_id" value="{{ question_id }}" disabled class="text_container"><br>
        <label>New answer:</label><br>
        <textarea name="message" rows="6" cols="50" class="text_container"></textarea>
        <input type="file" name="file">
        <input type="submit" value="Post answer" class="button">
    </form>


{% endblock %}
