{% extends 'base.html' %}


{% block head %}

<title>New Answer</title>

{% endblock %}



{% block body %}

    <h1>New Answer</h1>

    <form action="/question/{{ question_id }}" method="POST">
        <label>Question {{ question_id }}</label><br>
        <input type="text" name="question_id" value="{{ question_id }}" disabled><br>
        <label>New answer:</label><br>
        <textarea name="post_answer" rows="6" cols="50"></textarea>
        <input type="submit" value="Post answer">
    </form>


{% endblock %}
