{% extends 'base.html' %}


{% block head %}

<title>New Answer</title>

{% endblock %}



{% block body %}

    <h1>New Answer</h1>

    <div class="main-form">
        <form action="/question/{{ question_id }}/new-answer" method="POST">
            <label>Question {{ question_id }}</label><br>
            <input type="text" name="question_id" value="{{ question_id }}" disabled class="text_container"><br>
            <label>New answer:</label><br>
            <textarea name="message" rows="6" cols="45" class="text_container"></textarea>
            <!-- <input type="file" name="file"> -->
            <br>
            <input type="submit" value="Post answer" class="button">
        </form>
    </div>

{% endblock %}
