{% extends 'base.html' %}

{% block head %}
    <title>Question {{ question_id }}</title>
{% endblock head %}

{% block body %}

<h1>ASK MATE</h1>

    <p style="text-align: center">
        <a href="/question/{{ question_id }}/vote-up"><img src="/static/up.png" alt="upvote arrow" height="12"></a>
        {{ question.vote_number }}
        <a href="/question/{{ question_id }}/vote-down"><img src="/static/down.png" alt="downvote arrow" height="12"></a>
        <span>  </span><font size="5"><strong class="question-title">{{ question['title'] }}</strong></font><br>

        <font size="1" color="#d3d3d3">Viewed {{ question['view_number'] }} times.
        Submitted at: {{ question['submission_time'] }}</font>

        <a href="/question/{{ question_id }}/edit"><font size="1" color="#d3d3d3">edit</font></a>
        <a href="/question/{{ question_id }}/delete"><font size="1" color="#d3d3d3">delete</font></a>
        <a href="/question/{{ question_id }}/new-comment"><font size="1" color="#d3d3d3">comment</font></a>

    </p>
    <p class="question_details">
        Details:<br>
        <br>
        {{ question['message'] }}<span>  </span>

    <!-- </p>
    {% if question['image'] != '' %}
        <div class="question_details">
            <a href="{{ question['image'] }}" target="_blank"><img src="{{ question['image'] }}" alt="Question related image"></a>
        </div>
    {% endif %} -->
    <div class="comments">
        <h4>Comments:</h4>
        {% if comments == [] %}
        <p style="..."> There are no comments</p>
        {% else %}
            {% for comment in comments %}
                {% if comment['question_id'] == question_id %}
                    <ul>{{comment['message']}} {{comment['submission_time']}}
                        <a href="/comment/{{ comment['id'] }}/edit">edit</a>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if answers == [] %}
        <p style="text-align: center">There are no answers at this time.</p>
    {% else %}
        {% for answer in answers %}

                <p class="question_details">
                    <a href="/answer/{{ answer['id'] }}/vote-up"><img src="/static/up.png" alt="upvote arrow" height="12"></a>
                    {{ answer['vote_number'] }}
                    <a href="/answer/{{ answer['id'] }}/vote-down"><img src="/static/down.png" alt="downvote arrow" height="12"></a>
                    <span>  </span>
                    {{ answer['message'] }}<span>  </span>
                    <span>Submitted at: {{ answer['submission_time'] }}
                        <a href="/answer/{{ answer['id'] }}/edit">edit</a>
                        <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">delete</a>
                        <a href="/answer/{{ answer['id'] }}/new-comment">comment</a>
                    </span>
                </p>


            <!-- {% if answer['image'] != '' %}
                <div class="question_details">
                        <a href="{{ answer['image'] }}" target="_blank"><img src="{{ answer['image'] }}" alt="Answer related image"></a>
                </div>
            {% endif %}
            <br> -->
        <div class="comments">

            {% if comments %}

                {% for comment in comments %}
                    {% if comment['answer_id'] == answer['id'] %}
                        <ul>{{comment['message']}} {{comment['submission_time']}}
                            <a href="/comment/{{ comment['id'] }}/edit">edit</a>
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>


        {% endfor %}


    {% endif %}


    <a href="{{ url_for('question_new_answer', question_id=question_id) }}" class="reply-button">Reply</a>


{% endblock body%}
